{erl_opts, [debug_info, {parse_transform, lager_transform}, {i, "./_build/default/plugins/gpb/include"}]}.

{deps, [
    {cowboy, {git, "https://github.com/ninenines/cowboy.git"}},
    {jiffy, {git, "https://github.com/davisp/jiffy.git", {branch, "master"}}},
    {sha3, {git, "https://github.com/b/sha3.git", {branch, "master"}}},
    {hex, {git, "git://github.com/b/hex", {branch, "master"}}},
    {jsx, {git, "https://github.com/talentdeficit/jsx.git", {branch, "v2.10.0"}}},
    {mysql_poolboy, ".*", {git, "https://github.com/mysql-otp/mysql-otp-poolboy", {tag, "0.1.12"}}},
    {sqerl, {git, "git@github.com:devinus/sqerl.git", {branch, "master"}}},
    {lager, {git, "git@github.com:erlang-lager/lager.git", {tag, "3.8.0"}}},
    {eredis, {git, "git://github.com/wooga/eredis.git", {tag, "v1.2.0"}}},
    {eredis_pool, {git, "git@github.com:hiroeorz/eredis_pool.git", {branch, "master"}}},
    {eredis_cluster, {git, "git@github.com:adrienmo/eredis_cluster.git", {branch, "master"}}},
    {gun, {git, "git@github.com:ninenines/gun.git", {branch, "master"}}}
]}.

{plugins, [
    rebar3_run,
    {rebar3_erlydtl_plugin, ".*", {git, "https://github.com/tsloughter/rebar3_erlydtl_plugin.git", {branch, "master"}}},
    {rebar3_gpb_plugin, "2.12.5" }
]}.

{gpb_opts, [
    {i, "proto"},                % path/to/proto_dir
    {module_name_suffix, "_pb"}, % Naming convention, unless you have a good reason just go with it.
    %{o, "path/to/out_dir"},     % both .erl and .hrl are generated here, we will define the directories below instead.
    {o_erl, "src/pb"},              % Where the generated source is placed
    {o_hrl, "include/"},          % Where the generated include files are placed
    {strings_as_binaries, true},
    type_specs]}.

{provider_hooks, [
    {pre, [
        {compile, {protobuf, compile}},
        {clean, {protobuf, clean}}
    ]}
]}.

{profiles, [
    {prod, [
        {erl_opts, [no_debug_info, warnings_as_errors, parse_transform, lager_transform]}
        ]},
    {test, [
        {deps, [meck]},
        {erl_opts, [debug_info, {parse_transform, lager_transform}]}
    ]}
]}.


{shell, [
    {config, "config/sys.config"},
    {apps, [cbtx]}
]}.


{relx, [{release, {cbtx, "1.0.0"},
    [   kernel,
        stdlib,
        cowboy,
        jsx,
        mysql_poolboy,
        sqerl,
        lager,
        eredis,
        eredis_cluster,
        eredis_pool,
        cbtx,
        observer,
        wx,
        runtime_tools,
        gun,
        mnesia
    ]},

    {sys_config, "config/sys.config"},
    {dev_mode, false},
    {include_erts, true},

    {extended_start_script, true}]
}.


