{erl_opts, [debug_info, {parse_transform, lager_transform}]}.
{deps, [
    {cowboy, {git, "https://github.com/ninenines/cowboy.git"}},
    {jiffy, {git, "https://github.com/davisp/jiffy.git", {branch, "master"}}},
    {sha3, {git, "https://github.com/b/sha3.git", {branch, "master"}}},
    {hex, {git, "git://github.com/b/hex", {branch, "master"}}},
    {jsx, {git, "https://github.com/talentdeficit/jsx.git", {branch, "v2.10.0"}}},
    {mysql_poolboy, ".*", {git, "https://github.com/mysql-otp/mysql-otp-poolboy", {tag, "0.1.12"}}},
    {sqerl, {git, "git@github.com:devinus/sqerl.git", {branch, "master"}}},
    {lager, {git, "git@github.com:erlang-lager/lager.git", {tag, "3.8.0"}}}
]}.

{plugins, [
    rebar3_run,
    {rebar3_erlydtl_plugin, ".*", {git, "https://github.com/tsloughter/rebar3_erlydtl_plugin.git", {branch, "master"}}}
]}.

{profiles, [
    {prod, [
        {erl_opts, [no_debug_info, warnings_as_errors, parse_transform, lager_transform]}
        ]},
    {test, [
        {deps, [meck]},
        {erl_opts, [debug_info, {parse_transform, lager_transform}]}
    ]}
]}.

{shell, [
    {config, "config/sys.config"},
    {apps, [cbtx]}
]}.
