[
	{
		cbtx, [
		{websocket_port, 5555},
		{server_port, 6666},
		{gateway_port, 8080},
		{gateway_start, 1}
	]
	},

	{mnesia, [
		% {mkdir, "mf_logs"},
		{dir, "mnesia_db_data"}
	]
	},

	{lager, [
	{log_root, "logs/"},

	%% Default handlers for lager/lager_event
	{handlers, [
		{lager_console_backend, [{level, info}]},
		{lager_file_backend, [{file, "error.log"}, {level, error}]},
		{lager_file_backend, [{file, "console.log"}, {level, info}]}
	]},

	%% Any other sinks
	{extra_sinks,
		[
			{audit_lager_event,
				[{handlers,
					[{lager_file_backend,
						[{file, "sink1.log"},
							{level, info}
						]
					}]
				},
					{async_threshold, 500},
					{async_threshold_window, 50}]
			}]
	}
	]},

	{eredis_pool, [
		{global_or_local, local},
		{pools, [
			{default, [
				{size, 10},
				{max_overflow, 20}
			], []},
			{pool1, [
				{size, 30},
				{max_overflow, 20}
			], [
				{host, "127.0.0.1"},
				{port, 6379}
			]},
			{pool2, [
				{size, 20},
				{max_overflow, 20}
			], [
				{host, "127.0.0.1"},
				{port, 6379},
				{database, 0},
				{reconnect_sleep, 100}
			]}
		]}
	]},

	{eredis_cluster,
		[
			{init_nodes,[
%%				{"127.0.0.1",30001},
				{"127.0.0.1", 6379}
			]},
			{pool_size, 5},
			{pool_max_overflow, 0}
		]
	}
].